<p style="color: green"><%= notice %></p>

<h1>Chirps</h1>

<div id="chirps">
  <% @chirps.each do |chirp| %>
    <%= render chirp %>
    <p>
      <%= link_to "Show this chirp", chirp %>
    </p>
  <% end %>
</div>

<%= link_to "New chirp", new_chirp_path %>
